<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/TubeFold/App/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>CpKFF8Hvx0euD3p1ETOjyUPj0VMXjacQCbmPAYnmkyQ=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.tubefold.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tubefold</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
